.header {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 768px) {
  .header {
    background-color: var(--dark-secondary-color);
  }
}
.searchGroup {
  display: flex;
  justify-content: flex-start;
  gap: 36px;
}
